<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appliance.name %>
</p>

<p>
  <strong>Watts:</strong>
  <%= @appliance.watts %>
</p>

<p>
  <strong>Hours per day:</strong>
  <%= @appliance.hours_per_day %>
</p>

<p>
  <strong>Category:</strong>
  <%= @appliance.category_id %>
</p>

<%= link_to 'Edit', edit_appliance_path(@appliance) %> |
<%= link_to 'Back', appliances_path %>
