<div id="inventory">
   <div class="grid-container" >
    <h1>Tiny house / van power usage</h1>
    	<div class="callout">
    		<h2>Appliances</h2>
    		
    		<table >
                <tr v-for="appliance in appliances">
                  <td>{{ appliance.name }}</td>
                  <td>{{ appliance.wh_per_day }}</td>
                  <td><button v-on:click="removeAppliance($index)">x</button></td>
                </tr>
                
                <tr>
                    <td>Total :</td>
                    <td></td>
                    <td></td>
                </tr>
        </table>

            
 


    		<p><button class="button" data-open="addAppliance">Add</button></p>
    	</div>
    	
    	<div class="dashboard-number-card positive ">
    	  <h5 class="dashboard-number-value">{{total}}</h5>
    	  <div>
    	    <p class="dashboard-number-area">Total power usage</p>
    	    <p class="dashboard-number-delta">
    	  kilowatt hours per day 
    	    </p>
    	  </div>
    
      </div>	
    
    
    	<div class="card card-product-hover">
    	  <img src="http://www.elk101store.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/s/m/smart-display_1.jpg" alt="yeti 1000" />
    	  <div class="card-product-hover-icons">
    	    <a href="#"><i class="fa fa-shopping-cart">x</i></a>
    	    <a href="#"><i class="fa fa-star-o">x</i></a>
    	    <a href="#"><i class="fa fa-share-alt">x</i></a>
    	  </div>
    	  <div class="card-product-hover-details">
    	    <h3 class="card-product-hover-title">Goal Zero Yeti 1000 Portable Power Station</h3>
    	    <span class="card-product-hover-price">$1250.00</span>
    	  </div>
    	</div>
    
    </div>
    
    <div class="reveal" id="addAppliance" data-reveal>
    	<a class="close-reveal-modal button" aria-label="Close">&#215;</a>

    	<h3>Appliance templates</h3>
        <table id="appliance-templates">
          <thead>
            <tr>
              <th>Name</th>
              <th>Watts</th>
              <th>Hours per day</th>
              <th>Daily total (Wh/day)</th>
              <th></th>
            </tr>
          </thead>
        
          <tbody>
            <% @appliances.each do |appliance| %>
              <tr>
                <td><%= appliance.name %></td>
                <td><%= appliance.watts %></td>
                <td><%= appliance.hours_per_day %></td>
                <% wh_per_day = appliance.watts * appliance.hours_per_day %>            
                <td><%= wh_per_day %></td>
                <td><button v-on:click="addAppliance(this)" class="button" data-name="<%= appliance.name %>">+</button></td>

              </tr>
            <% end %>
          </tbody>
        </table>
        
        <br>
        
        <%= link_to 'New Appliance', new_appliance_path %>
    	


    </div>
</div>