<!DOCTYPE html>
<html>
<head>
  <%= include_gon %>
  <title>Calculators</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class"x">

<%= yield %>

<p><a class="button" href="https://goo.gl/forms/GaUj1SqDTr3Ve12j2">Provide feedback</a></p>
<p><a class="button" href="http://eepurl.com/dn6pEL">Subcribe for testing & updates</a></p>

</body>
  <%= javascript_include_tag 'application' %>
</html>
