<!DOCTYPE html>
<html>
<head>
  <%= include_gon %>
  <title>Calculators</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class"x">

<%= yield %>

</body>
  <%= javascript_include_tag 'application' %>
</html>
